<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="createUser.css" />
    <link rel="stylesheet" href="../styles.css" />
    <script defer src="createUser.js"></script>
    <title>Create User</title>
  </head>
  <body>
    <h1>Create a new user</h1>
    <div class="createUserContainer">
      <input class="username" type="text" placeholder="enter a username" />
      <input class="deposit" type="number" placeholder="enter deposit amount" />
      <button class="createUser">Create User</button>
    </div>
    <h1 class="createdUserPrompt" style="display: none"></h1>

    <a href="/" class="home">Home</a>
  </body>
</html>
