<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="userLogin.css" />
    <script defer src="userLogin.js"></script>
    <title>User Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <div class="loginContainer">
      <form class="formContainer">
        <input type="text" placeholder="enter username" class="usernameInput" />
        <button type="submit" class="login">login</button>
        <h2 class="error" style="display: none">incorrect username</h2>
      </form>

      <a href="/" class="home">Home</a>
    </div>
  </body>
</html>
