<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="userDashboard.css" />
    <link rel="stylesheet" href="../styles.css" />
    <script defer src="userDashboard.js"></script>
    <title>User</title>
  </head>
  <body>
    <h1 class="usernameBefore">User</h1>
    <div class="userDashboardData"></div>
    <button id="goToAddFunds" class="addFunds">Add Funds</button>
    <a href="/" class="home">Home</a>

    <div class="addFundsContainer" style="display: none">
      <h2 class="addFundsTitle">Enter an amount</h2>
      <input class="fundsInput" type="number" />
      <button id="addFunds" class="addFunds">Add Funds</button>
      <button id="goBack" class="addFunds">Go Back</button>
    </div>
  </body>
</html>
